.navbar a {
    padding: 5px 30px;
}
.logo {
    margin-left: 10px;
}
.images {
    justify-content: space-around;
}
.img1, .img2, .img3, .img4, .img5 {
    width: 145px;
    height: 125px;
}
.abautUs {
    width: 45%;
}
.abautUs h1 {
    padding: 0;
}
.abautUs h3 {
    padding: 15px;
    margin: 5px;
}
.nombre_yuma {
    width: 45%;
    min-height: 500px;
    max-height: 560px;
}
.sect-comidas {
    flex-flow: nowrap row;
    justify-content: space-between;
}
.eat {
    width: 50%;
}
#carrusel-content {
    height: 200px;
}